<%- model_class = Translator -%>
<% title model_class.model_name.human.pluralize.titleize %>

<table class="table table-striped">
  <thead>
    <tr>
			<th class='search_column'><%= model_class.human_attribute_name(:search) %></th>
			<th class='search_column'><%= model_class.human_attribute_name(:link) %></th>
			<th><%= model_class.human_attribute_name(:site_name) %></th>
      <th><%= model_class.human_attribute_name(:translator) %></th>
      <th><%= "T#" %></th>
      <th class='action_column'><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @translators.each do |translator| %>
      <tr>
				<td class='search_column'><%= render partial: 'shared/search_icon', locals: { f: translator } %></td>
				<td class='search_column'><%= link_to raw("<i class='glyphicon glyphicon-link'></i>"), translator.site_link, :class => 'btn btn-xs btn-primary', data_toggle: 'tooltip', 'data-placement' => 'right', title: URI.decode(translator.site_link), rel: :tooltip %></td>
				<td><%= link_to translator.site_name, translator_path(translator)%></td>
        <td><%= translator.name %></td>
        <td><%= translator.translations.size %></td>
        <td class='action_column'>
			    <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'),
			                translator_path(translator),  :class => 'btn btn-xs btn-default' %>
          <%= link_to raw('<i class="glyphicon glyphicon-edit"></i>'),
                      edit_translator_path(translator), :class => 'btn btn-xs btn-warning' %>
          <%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'),
                      translator_path(translator),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="glyphicon glyphicon-pencil"></i> '.html_safe + t('.new', :default => t("helpers.links.new_translator")),
            new_translator_path,
            :class => 'btn btn-warning' %>
