	<!-- Would like to catch errors here, but partial won't work, as page redirects to /songs/Nsong/translations, instead of back to /song/Nsong -->
	
	<div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :language, :class => 'control-label' %>
    <div class="controls">
			<%= f.collection_select :language_id, Language.all, :id, :name, prompt: true %>
    </div>
  </div>
  
	<div class="form-actions">		
		<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
		  <span class="icon-link icon-green"> Link translation</span>
		<% end %>
		
  </div>