<%= form_for [@song, @song.translations.build], :html => { :class => 'form-horizontal' } do |f| %>
	
	<!-- Would like to catch errors here, but partial won't work, as page redirects to /songs/Nsong/translations, instead of back to /song/Nsong -->
	
	<div class="control-group">
    <%= f.label :link, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :language, :class => 'control-label' %>
    <div class="controls">
			<%= f.collection_select :language_id, Language.all, :id, :name, prompt: true %>
    </div>
  </div>
  
	<div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>