<% if flash[:translation_success] %>
    <div class="alert alert-success"><%= flash[:translation_success] %></div>
<% end %>
<% if flash[:translation_error] %>
    <div class="alert alert-danger"><%= flash[:translation_error] %></div>
<% end %>

<%- model_class = Translation -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:link) %></th>
			<th><%= model_class.human_attribute_name(:iso).upcase %></th>
			<th><%= model_class.human_attribute_name(:translator) %></th>
      <th><%=t '.actions', :default => t("helpers.actions!") %></th>
    </tr>
  </thead>
  <tbody>