<%- model_class = Translation -%>
<% title @translation.song.title %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:song) %>:</strong></dt>
  <dd><%= link_to @translation.song.title, @translation.song %></dd>
  <dt><strong><%= model_class.human_attribute_name(:link) %>:</strong></dt>
  <dd><%= link_to URI.decode_www_form_component(@translation.link), @translation.link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
  <dd><%= @translation.language.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active?) %>:</strong></dt>
  <dd><%= render partial: 'translations/active_icon', object: @translation, as: 'translation' %></dd>
</dl>

<div class="form-actions">
  <%= link_to '<i class="glyphicon glyphicon-chevron-left"></i> '.html_safe + t('.back', :default => t("helpers.links.back")),
              song_path(@translation.song), :class => 'btn btn-default'  %>
  <%= link_to '<i class="glyphicon glyphicon-edit"></i> '.html_safe + t('.edit', :default => t("helpers.links.edit")),
              edit_song_translation_path(@translation.song, @translation), :class => 'btn btn-warning' %>
  <%= link_to '<i class="glyphicon glyphicon-remove"></i> '.html_safe + t('.destroy', :default => t("helpers.links.destroy")),
              [@translation.song, @translation],
              method: :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>