<%- model_class = Language -%>
<%= render partial: 'shared/title', locals: { model_class: model_class } %>

<%= render partial: 'shared/flash', locals: { f: flash } %>

<table class="table table-striped">
  <thead>
    <tr>
			<th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= "ISO" %></th>
			<th><%= "T#" %></th>
      <th class='action_column'><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @languages.each do |language| %>
      <tr>
				<td><%= link_to language.name, language_path(language) %></td>
        <td><%= language.iso %></td>
				<td><%= language.translations.size %></td>
        <td class='action_column'>
			    <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'),
			                language_path(language),  :class => 'btn btn-xs btn-default' %>
          <%= link_to raw('<i class="glyphicon glyphicon-edit"></i>'),
                      edit_language_path(language), :class => 'btn btn-xs btn-warning' %>
          <%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'),
                      language_path(language),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="glyphicon glyphicon-pencil"></i> '.html_safe + t('.new', :default => t("helpers.links.new_language")),
            new_language_path,
            :class => 'btn btn-warning' %>
