<%= form_for @song, :html => { class: 'form-horizontal' } do |f| %>
	
	<%= render partial: 'shared/error', locals: {f: @song} %>
		
	<div class="form-group">
		<%= f.label :title, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :title, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :genre, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: true}, {class: 'form-control'} %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :composer, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :composer, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :lyricist, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :lyricist, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :year, class: 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :year, class: 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<%= f.submit nil, class: 'btn btn-primary' %>
			<%= link_to '<i class="fa fa-trash"></i> '.html_safe + t('.cancel', :default => t("helpers.links.cancel")),
				songs_path, class: 'btn btn-default' %>
		</div>
	</div>
<% end %>

