<% title "About" %>
<h3>Tango Translation Database</h3>

<p>
	This repository links translation efforts in the Argentine Tango community
</p>

<p>
	If confused, please check out the <%= link_to "Usage", usage_path %> tab on the top right!
</p>

<p>
<b>Feedback</b> and <b>admin rights</b> requests contact me via <%= link_to "Facebook", "https://www.facebook.com/DjAlejandroSasha", target: '_blank' %>, <%= link_to "GitHub", "https://github.com/alexvicegrab/tangoLyricsDB", target: '_blank' %>, or <%= link_to "email", "mailto:tangotranslation@gmail.com" %>.
</p>

<h3>Thanks</h3>

<h4>Tango contributors</h4>
Thanks to all the <%= link_to "translators", translators_path %> who contributed to this database and to the members of the <%= link_to "Tango Lyrics & Translations", "https://www.facebook.com/groups/410698905667019/", target: '_blank' %> Facebook group for providing translations and feedback.

<h4>The app's flesh and blood</h4>
This app would also be impossible without multiple frameworks, resources and Ruby gems. Too many to mention here, but all available on my <%= link_to "GitHub project page", "https://github.com/alexvicegrab/tangoLyricsDB", target: '_blank' %>.
<p class="spacer"><p>
<div>
	<%= link_to image_tag('rails.png', height: 150, width: 118), "http://rubyonrails.org", target: '_blank' %>
	<%= link_to image_tag('heroku.png', height: 150, width: 118), "https://www.heroku.com", target: '_blank' %>
	<%= link_to image_tag('octocat.png', height: 150, width: 118), "https://github.com/", target: '_blank' %>
	<%= link_to image_tag('bootstrap.png', height: 150, width: 118), "http://getbootstrap.com/", target: '_blank' %>
</div>