<h1>Thanks</h1>

<h3>Tango contributors</h3>
Thanks to all the <%= link_to "translators", translators_path %> who contributed to this database and to the members of the <a href="https://www.facebook.com/groups/410698905667019/">Tango Lyrics & Translations</a> Facebook group for providing translations and feedback.

<h3>The app's flesh and blood</h3>
This app would also be impossible without multiple frameworks, resources and Ruby gems. Too many to mention here, but all available on my <a href="https://github.com/alexvicegrab/tangoLyricsDB">GitHub project page</a>.
<p class="spacer"><p>
<div>
	<%= link_to image_tag('rails.png', height: 150, width: 118), "http://rubyonrails.org"  %>
	<%= link_to image_tag('heroku.png', height: 150, width: 118), "https://www.heroku.com"  %>
	<%= link_to image_tag('octocat.png', height: 150, width: 118), "https://github.com/"  %>
	<%= link_to image_tag('bootstrap.png', height: 150, width: 118), "http://getbootstrap.com/"  %>
</div>