<% title "Usage" %>

<h3>Contributing</h3>
<p>
	When adding translations please correctly specify:
</p>
<ol>
	<li>translation <b>Link</b> <small>[including the "http://" at the start]</small></li>
	<li><b>Language</b>(s) <small>[if language is not in the list <%= link_to "get in touch", "mailto:tangotranslation@gmail.com" %>]</small></li>
</ol>
<p>
	When adding songs, please check the relevant resources to correctly specify:
</p>
<ol>
	<li>song <b>Title</b> <small>[alternative title in curved brackets "()"]</small></li>
	<li><b>Genre</b>(s) <small>[...things like Polkas, Marchas, Pasodobles and Tango nuevo goes in "Otros Ritmos"]</small></li>
	<li><b>Composer</b>(s) <small>[separated by a spaced forward slash " / "]</small></li>
	<li><b>Lyricist</b>(s) <small>[separated by a spaced forward slash " / "]</small></li>
	<li><b>Year</b> of composition <small>[if in doubt, choose earliest date]</small></li>
</ol>

<h3>Buttons</h3>
<h4>Quick search</h4>
<p>
	The <em>translators</em>, <em>languages</em> and <em>genres</em> views have buttons <%= link_to raw('<i type="button" class="glyphicon glyphicon-search"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-info btn-circle' %> to find songs or translations filtered by these properties.
</p>
<p>
	The <em>songs</em> view has a <%= link_to raw('<i type="button" class="fa fa-youtube-play"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-circle youtube_icon' %> button linking to an automated YouTube search of the song.
</p>
<h4>Translations</h4>
<p>
	The <em>translation</em> view presents each link as a <%= link_to raw('<i type="button" class="glyphicon glyphicon-link"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-primary' %> button. Hover your mouse over it to see a tooltip with the link destination.
</p>
<p>
	In addition, each translation buttons indicating the status of each translation link. To re-check the translation link, click on the button. The different buttons specify translations that...
</p>
<ul>
	<li><%= link_to raw('<i type="button" class="glyphicon glyphicon-ok"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-success btn-circle' %> are active and accessible</li>
	<li><%= link_to raw('<i type="button" class="glyphicon glyphicon-exclamation-sign"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-warning btn-circle' %> fail the check due to accessibility issues (e.g. translations on Facebook)</li>
	<li><%= link_to raw('<i type="button" class="glyphicon glyphicon-exclamation-sign"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-danger btn-circle' %> cannot be found</li>
</ul>

<h4>Actions</h4>

Each individual item has access to 3 actions:
<ul>
	<li><%= link_to raw('<i type="button" class="glyphicon glyphicon-eye-open"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-default' %> view</li>
	<li><%= link_to raw('<i type="button" class="glyphicon glyphicon-edit"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-warning' %> edit</li>
	<li><%= link_to raw('<i type="button" class="glyphicon glyphicon-remove"></i>'), '#', :disabled => true, :class => 'btn btn-xs btn-danger' %> remove</li>
</ul>

<h3>Resources</h3>
<ul>
	<li><%= link_to "Todo Tango", "http://www.todotango.com/", target: '_blank' %>, great archive of info. First resource to find your song info!</li>
	<li><%= link_to "Tango Info", "https://tango.info/", target: '_blank' %>, my second stop if TodoTango does not have full info on the song.</li>
	<li><%= link_to "SADAIC", "http://sadaic.org.ar/", target: '_blank' %>, useful if neither of the above have info on the composer/lyricist or year. Bear in mind it is not only for tango lists first the family name and then proper name.</li>
	<li><%= link_to "Hermano Tango", "http://www.hermanotango.com.ar/", target: '_blank' %>, the place to go if you want to find a song to translate.</li>
</ul>

<h3>Admin rights</h3>
<p>
	You <b>don't</b> need admin rights to:
</p>
<ul>
	<li>Add <em>translations</em> (please specify the language correctly)</li>
</ul>
<p>
	You <b>do</b> need admin rights to:
</p>
<ul>
	<li>Add/edit/delete <em>songs</em>, translation <em>languages</em>, <em>translators</em></li>
	<li>Edit/delete <em>translations</em></li>
</ul>
