<%= form_for @song, :html => { :class => 'form-horizontal' } do |f| %>
	
	<%= render partial: 'shared/error', locals: {f: @song} %>
		
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :composer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :composer, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lyricist, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lyricist, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :year, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                songs_path, :class => 'btn' %>
  </div>
<% end %>

