<h1>Listing songs</h1>
 
<table>
  <tr>
		<th>ID</th>
    <th>Title</th>
		<th>Year</th>
    <th>Composer</th>
		<th>Lyricist</th>
		<th colspan="3"></th>
  </tr>
 
  <% @songs.each do |song| %>
    <tr>
			<td><%= song.id %></td>
      <td><%= song.title %></td>
			<td><%= song.year %></td>
      <td><%= song.composer %></td>
	  	<td><%= song.lyricist %></td>
			<td><%= link_to 'Show', song_path(song) %></td>
			<td><%= link_to 'Edit', edit_song_path(song) %></td>
			<td><%= link_to 'Destroy', song_path(song),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New song', new_song_path %>