<%- model_class = Song -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @song.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre) %>:</strong></dt>
  <dd><%= @song.genre.blank? ? "..." : @song.genre.name  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:composer) %>:</strong></dt>
  <dd><%= @song.composer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lyricist) %>:</strong></dt>
  <dd><%= @song.lyricist %></dd>
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @song.year.nil? ? "..." : @song.year %></dd>
</dl>

<div class="form-actions">
  <%= link_to '<i class="glyphicon glyphicon-chevron-left"></i> '.html_safe + t('.back', :default => t("helpers.links.back")),
              songs_path, :class => 'btn btn-default'  %>
  <%= link_to '<i class="glyphicon glyphicon-edit"></i> '.html_safe + t('.edit', :default => t("helpers.links.edit")),
              edit_song_path(@song), :class => 'btn btn-warning' %>
  <%= link_to '<i class="glyphicon glyphicon-remove"></i> '.html_safe + t('.destroy', :default => t("helpers.links.destroy")),
              song_path(@song),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<h2>Translations</h2>
<%= render "translations/translation_header" %>
<%= render @song.translations %>
<%= render "translations/translation_footer" %>
 
<h2>Add a translation:</h2>
<%= form_for [@song, @song.translations.build], :html => { :class => 'form-horizontal' } do |f| %>
	<%= render "translations/form", :f => f %>
<% end %>
