<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>
 
<p>
  <strong>Year:</strong>
  <%= @song.year %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @song.composer %>
</p>

<p>
  <strong>Lyricist:</strong>
  <%= @song.lyricist %>
</p>

<h2>Translations</h2>
<%= render @song.translations %>

<h2>Add a translation:</h2>
<%= render "translations/form" %>

<%= link_to 'Edit Song', edit_song_path(@song) %>
<%= link_to 'Back to Songs', songs_path %>