<%- model_class = Genre -%>
<% title model_class.model_name.human.pluralize.titleize %>

<table class="table table-striped">
  <thead>
    <tr>
			<th class='search_column'><%= model_class.human_attribute_name(:search) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
			<th><%= "Song #" %></th>
      <th class='action_column'><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
				<td class='search_column'><%= render partial: 'shared/search_icon', locals: { f: genre } %></td>
        <td><%= link_to genre.name, genre_path(genre) %></td>
				<td><%= genre.songs.length %></td>
        <td class='action_column'>
			    <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'),
			                genre_path(genre),  :class => 'btn btn-xs btn-default' %>
          <%= link_to raw('<i class="glyphicon glyphicon-edit"></i>'),
                      edit_genre_path(genre), :class => 'btn btn-xs btn-warning' %>
          <%= link_to raw('<i class="glyphicon glyphicon-remove"></i>'),
                      genre_path(genre),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<i class="glyphicon glyphicon-pencil"></i> '.html_safe + t('.new', :default => t("helpers.links.new_genre")),
            new_genre_path,
            :class => 'btn btn-warning' %>
