<h2>Search songs</h2>
<%= form_tag songs_path, :method => 'get' do %>

<div class="form-group">
	<%= label_tag :title_has, "Title:", class: "sr-only" %>
	<%= text_field_tag :title_has, params[:title_has], class: "form-control", placeholder: "Title..." %>
</div>

<div class="form-group">
		<%= label_tag :genre_is, "Genre:", class: "sr-only" %>
		<%= select_tag :genre_is, options_from_collection_for_select(Genre.all, :id, :name, params[:genre_is]), class: "form-control", :prompt => "Genre..." %> 
</div>

<div class="form-group">
		<%= label_tag :composer_has, "Composer:", class: "sr-only" %>
		<%= text_field_tag :composer_has, params[:composer_has], class: "form-control", placeholder: "Composer..." %>
</div>

<div class="form-group">
	<%= label_tag :lyricist_has, "Lyricist:", class: "sr-only" %>
	<%= text_field_tag :lyricist_has, params[:lyricist_has], class: "form-control", placeholder: "Lyricist..." %>
</div>

<div class="form-group">
	<%= label_tag :year_min, "Years:", class: "sr-only" %>
	<div class="row">
		<div class="col-xs-6">
			<%= text_field_tag :year_min, params[:year_min], maxlength: 4, id: "TTD_year_search", class: "form-control", placeholder: "Min. year..." %>
		</div>
		<div class="col-xs-6">
			<%= text_field_tag :year_max, params[:year_max], maxlength: 4, id: "TTD_year_search", class: "form-control", placeholder: "Max. year..." %>
		</div>
	</div>
</div>

<div class="form-group">
	<%= label_tag :translation_num, "Translation #:", class: "sr-only" %>
	<%= text_field_tag :translation_num, params[:translation_num], class: "form-control", placeholder: "Num. of translations..." %>
</div>

<div class="form-group">
	<%= label_tag :language_is, "Language:", class: "sr-only" %>
	<%= select_tag :language_is, options_from_collection_for_select(Language.all, :id, :name, params[:language_is]), class: "form-control", :prompt => "Language..." %> 
</div>

<div class="form-group">
	<%= label_tag :translator_is, "Translator:", class: "sr-only" %>
	<%= select_tag :translator_is, options_from_collection_for_select(Translator.all, :id, :site_name, params[:translator_is]), class: "form-control", :prompt => "Translator..." %> 
</div>

<div class="form-group">
	<div class="row">
		<div class="col-xs-4">
	<%= button_tag(type: 'submit', class: "btn btn-info") do %>
	  <i class="glyphicon glyphicon-search"></i> <%= t('.search', :default => t("helpers.links.search")) %>
	<% end %>
	</div>
	<div class="col-xs-2"></div>
	<div class="col-xs-4">
	<%= link_to '<i class="glyphicon glyphicon-trash"></i> '.html_safe + t('.clear', :default => t("helpers.links.clear")),
	songs_path, :class => 'btn btn-default'  %>
		</div>
	</div>
</div>
<div class="form-group">
		<%= link_to '<i class="glyphicon glyphicon-pencil"></i> '.html_safe + t('.new', :default => t("helpers.links.new")) + ' Song',
		new_song_path,
		:class => 'btn btn-warning' %>
</div>

<% end %>
