<!DOCTYPE html>
<html>
<head>
  <title>Tango Translation DB</title>
	<meta name="Description" content="Tango Translation Database links Argentine Tango song translations from Spanish to many languages">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<%= favicon_link_tag %>
	
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>
	<%= render 'layouts/navbar' %>
	<div class="container-fluid">
		<div class="row">
		      <div id="content" class="col-lg-9 col-md-9 col-sm-8 col-xs-7">
						<%= yield %>
						<p class="spacer">&nbsp</p>
					</div>
		      <div id="sidebar" class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
						<div id="search">
		        	<%= render 'layouts/search' %>
						</div>
						<div id="stats">
							<%= render 'layouts/stats' %>
						</div>
		      </div>
					<p class="spacer">&nbsp</p>
		    </div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
